@import url('http://fonts.cdnfonts.com/css/ostrich-sans-2');

/* fonts */
html, body {
  font-family: 'Ostrich Sans', sans-serif;
  font-size: 20px;
  font-weight: normal;
  background-color: #2f0147;
}
h1, h2, h3, h4, h5, .btn, .nav-link {
  font-weight: bold;
}
h1 {
  font-size: 2.5em;
}

h2 {
	font-size: 5em;
}

.card-header {
  font-size: 1.8em;
}
h5, .h5 {
  font-size: 1.5em;
  font-weight: bold;
}

/* colors */
.navbar {
  background-color: #610F7F;
}
thead, .card-header {
  background-color: #9C528B;
  color: white;
}
.navbar-text, .form-label, p, th, td {
  color: white !important;
}
.nav-link, a {
  color: #ee5822;
}
.btn-primary {
  color: #fff;
  background-color: #ee5822;
  border-color: #ee5822;
}
.btn-primary:hover, .btn-primary:active, .btn-primary:focus {
  background-color: #F37748;
  border-color: #F37748;
}
.btn-primary:active:focus, .btn-primary:active, .btn-primary:focus {
  box-shadow: 0 0 0 0.25rem #f59f80;
}
.nav-link:hover, .nav-link:focus {
  color: #F37748;
}
a:hover {
  color: #F37748;
}
h1, h2 {
  color: white;
}